AUTOMATION_DB_HOST=your-automation-db-host
AUTOMATION_DB_PORT=5432
AUTOMATION_DB_NAME=your-automation-db-name
AUTOMATION_DB_USER=your-automation-db-user
AUTOMATION_DB_PASSWORD=your-automation-db-password

LOOKUP_DB_HOST=your-lookup-db-host
LOOKUP_DB_PORT=5432
LOOKUP_DB_NAME=your-lookup-db-name
LOOKUP_DB_USER=your-lookup-db-user
LOOKUP_DB_PASSWORD=your-lookup-db-password

AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
SENDER_EMAIL=your-sender-email
SENDER_PASSWORD=your-sender-app-password
